/**
 * @name AyameHomeIco
 * @description [DATA EXPUNGED]
 * @author BigHunterARG
 * @authorId 429389332466368514
 * @authorLink https://dsc.bio/BigHunterARG
 * @version 1.0
*/

.tutorialContainer-2sGCg9 .listItem-GuPuDH .listItemWrapper-KhRmzM .wrapper-25eVIn {
    background: var(--home-icon) !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    border-radius: 100%;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH .listItemWrapper-KhRmzM .wrapper-25eVIn svg {
    opacity: 0;
}
